<a href="https://colab.research.google.com/github/MilesAndersonGillespie/Personal/blob/main/BTE_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
This code asks for the FICO Credit Score of the user and determines his/her eligibility.
A FICO Credit Score greater than 700 is automatically approved.
A FICO Credit Score greater than 500 but less than 700 requires manual review.
A user with no FICO Credit Score (i.e., 0) requires manual underwriting.
A FICO Credit Score less than 500 is automatically denied.
'''

fico = int(input('What is your FICO Credit Score? If you do not have a FICO Credit Score, type 0. '))
# This section asks for the user's FICO Credit Score.

if fico >= 700:
  print('Loan granted!')
elif fico >= 500:
  print('Loan Requires Manual Review')
elif fico == 0:
  print('Loan Requires Manual Underwriting')
else:
  print('Loan Denied')
#This section processes the provided FICO Credit Score and displays the results.

In [ ]:
'''
This code asks for the numeric grade of the user and determines his/her letter grade.
The letter grades follow the traditional format (97+:A+, 93-96.99:A, 90-92.99:B, 0-59.99:F).
'''

num_grade = float(input('What is your numeric grade? '))
# This section asks for the user's numeric grade.

if num_grade >= 97:
  print('Your letter grade is an A+')
elif num_grade >= 93:
  print('Your letter grade is an A')
elif num_grade >= 90:
  print('Your letter grade is an A-')
elif num_grade >= 87:
  print('Your letter grade is a B+')
elif num_grade >= 83:
  print('Your letter grade is a B')
elif num_grade >= 80:
  print('Your letter grade is a B-')
elif num_grade >= 77:
  print('Your letter grade is a C+')
elif num_grade >= 73:
  print('Your letter grade is a C')
elif num_grade >= 70:
  print('Your letter grade is a C-')
elif num_grade >= 67:
  print('Your letter grade is a D+')
elif num_grade >= 63:
  print('Your letter grade is a D')
elif num_grade >= 60:
  print('Your letter grade is a D-')
else:
  print('Your letter grade is an F')
  # This section processes the provided grade and displays the result.

In [ ]:
'''
This code asks for whether the user is a new or existing customer and the deposit amount.
Afterwhich, it determines the correct interest rate and the total deposit amount.
'''

customer_type = input('Please enter customer type (N: new/ E: existing): ')
deposit = float(input('Please enter deposit amount: '))
# This section requests whether the user is a new or existing customer and the deposit amount.

if customer_type == 'E' and deposit >= 10_000:
  ir = 3.50
elif customer_type == 'E' and deposit >= 1_000:
  ir = 3.25
elif customer_type == 'E' and deposit < 1_000:
  ir = 3.00
else:
  ir = 4.00
# This section determines the correct interest rate

total = (1 + ir /100) * deposit
print(f'Total Deposit: ${total}')
# This section calculates the total deposit and displays it for the user.

In [ ]:
'''
This code asks the user for a number and determines whether it is even or odd.
'''

x = float(input('Please enter number: '))
# This section requests the number from the user.

if x % 2 == 0:
  print('Even')
else:
  print('Odd')
# This section determines whether the number is even or odd and displays the result.

In [ ]:
'''
This code asks the user for a number and determines whether it is even or odd.
'''

x = float(input('Please enter number: '))
# This section requests the number from the user.

result = 'even' if x % 2 == 0 else 'odd'
print(result)
# This section determines whether the number is even or odd and displays the result.

In [ ]:
'''
This code runs a countdown from ten to one useing 'for' and displays the countdown.
'''

for x in range(10,0,-1):
  print(x, end=' ')

In [ ]:
'''
This code runs a countdown from ten to one useing 'for' and displays the countdown.
'''

for x in range(10,0,-1):
  if x == 5:
    continue
  print(x, end=' ')

In [ ]:
'''
This code runs a countdown from ten to one useing 'for' and displays the countdown.
'''

for x in range(10,0,-1):
  if x == 5:
    break
  print(x, end=' ')

In [ ]:
'''
This code creates a table displaying the square and cube of numbers 1-4.
'''

num = 1
# This establishes the starting number as one.

while num < 5:
  print(num, num**2, num**3)
  num = num + 1
# This counts numbers 1-4 and displays them with their square and cube.

In [ ]:
'''
This code creates a table displaying the square and cube of numbers 1-4.
'''

for num in range(1,5):
  print(num, num**2, num**3)

In [ ]:
'''
This code displays "This is a string." one letter at a time, one line at a time.
'''

h = "This is a string." # This establishes variable h as "This is a string."

for idx in range(len(h)): # This displays variable h one character at a time, one line at a time.
  print(h[idx])

In [ ]:
'''
This code displays "This is a string." one letter at a time, one line at a time.
'''

h = "This is a string." # This establishes variable h as "This is a string."

for char in h: # This displays variable h one character at a time, one line at a time.
  print(char)

In [ ]:
h = "This is a string."
w = "Today is Saint Valentine's Day!"
for c in h:
  if c in w:
    print(c)

In [ ]:
'''
This code establishes list "L" and prints it with all of its initinal elements plus an additional two that are added.
'''

L = [1, 'two', 3.14, [4,5,6]] # This establishes list "L" with four initial elements.
L.insert(2,'abcde') # This adds two elemnts to list "L."
print(L) # This displays list "L."

In [ ]:
'''
This code establishes list "L" and prints it with all of its initinal elements minus one element.
'''

L = [1, 'two', 3.14, [4,5,6]] # This establishes list "L" with four initial elemts.
L.pop(1) # This removes the #1 elemtent (i.e., the second) from list "L."
print(L) # This displays lit "L."

In [ ]:
'''
This code establishes list "L" and prints it with all of its initinal elements arranged in ascending order.
'''

L = [1,5,2,4,3] # This establishes list "L" with five initial elements.
L.sort(reverse=False) # This sorts the elements of list "L" into ascending order.
print(L) # This displays list "L."

In [ ]:
'''
This code establishes list "L" and prints it with all of its initinal elements minus one element.
'''

L = [1,5,2,4,3] # This establishes list "L" with four initial elemts.
L.remove(2) # This removes the #2 elemtent (i.e., the third) from list "L."
print(L) # This displays lit "L."